services:

  api:
    build:
      context: .
      dockerfile: ModelBaseAPI/Dockerfile
    ports:
      - "5000:80"
    environment:
      - ConnectionStrings__Default=Server=.\\SQLEXPRESS;Database=UserAuth;User Id=sa;Password=adminroot@1234;
      - RabbitMQ__Host=rabbitmq
    depends_on:
      - db
      - rabbitmq

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "123"
    ports:
      - "1433:1433"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
